html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.todoContainer {
    background-color: #F0F0F0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    padding: 20px;
    word-break: break-word;
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .todoContainer {
        padding: 15px;
    }
}

/* --- Nowe stylizacje przycisków --- */
.todoSection__buttons {
    background: linear-gradient(135deg, white, white); /* Zielony gradient */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
    margin: 5px;
}

.todoSection__buttons:hover {
    background: linear-gradient(135deg, #e7f4f5, #e7f4f5); /* Ciemniejszy zielony gradient po najechaniu */
    transform: scale(1.05);
}
